# -----------------------------------------------------------------------------
# NextAuth: https://shipfa.st/docs/tutorials/user-auth
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=XXXX

# Azure creds for NextAuth
AZURE_AD_CLIENT_ID=XXXX
AZURE_AD_CLIENT_SECRET=XXXX
AZURE_AD_TENANT_ID=XXXX

# -----------------------------------------------------------------------------
# Google OAuth: https://shipfa.st/docs/features/google-oauth
# -----------------------------------------------------------------------------
GOOGLE_ID=XXXX
GOOGLE_SECRET=XXXX

# -----------------------------------------------------------------------------
# Stripe: https://shipfa.st/docs/features/payments
# -----------------------------------------------------------------------------
STRIPE_PUBLIC_KEY=XXXX
STRIPE_SECRET_KEY=XXXX
STRIPE_WEBHOOK_SECRET=XXXX

# -----------------------------------------------------------------------------
# Postgres Auth DB Details
# -----------------------------------------------------------------------------
DATABASE_HOST=tag-dev-flexdb.postgres.database.azure.com
DATABASE_NAME=frontend_auth
DATABASE_USER=XXXX
DATABASE_PASSWORD=XXXX

# Define the Azure Storage connection string
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=tagpictures;AccountKey=XXXX;EndpointSuffix=core.windows.net"

#Azure Communication Services environment variables
AZURE_COMMUNICATION_SERVICES_CONNECTION_STRING="endpoint=https://tag-comm-svc.unitedstates.communication.azure.com/;accesskey=XXXX"
AZURE_COMMUNICATION_SERVICES_SENDER_ADDRESS=DoNotReply@twistedartistsguild.com

#Shippo Token
SHIPPOTOKEN=XXXX

#Custom App Variables 
NEXT_PUBLIC_TAG_API_URL=https://api.twistedartistsguild.com/api/
NEXT_PUBLIC_TAG_API_URL_LOCAL=http://localhost:5000/api/

NEXT_PUBLIC_APPINSIGHTS="XXXX"

# Local dev flags - and debug is welcome to use in production - but do not use local override on prod!! it will break everything
DEBUG=true
LOCALOVERRIDE=false 

