.listingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc ; /* Add border around the main container */
}

.listingDetails {
    margin-top: 10px;
}

.description {
    font-size: 14px;
    margin-bottom: 20px; /* Add space below the description */
}

.time, .artistfk, .listingtypefk, .cost, .units {
    font-size: 12px;
    color: #666;
}

.imageAndText {
	display: flex;
	align-items: flex-start;
	gap: 16px; /* Space between image and text */
}

.listingPic {
	width: 320px; /* 4x the original width */
	height: 320px; /* 4x the original height */
	border-radius: 8px;
	object-fit: cover;
}

.dataTable {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.dataTable th, .dataTable td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.dataTable th {
	background-color: #f4f4f4;
	font-weight: bold;
}

.textDetails {
	flex: 1;
}

